@charset "UTF-8";

/* variables */

:root {
  --trans: all ease 500ms;
  --wp-color: 37, 211, 102;
}

/* variables end */

/* fonts */

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"),
    url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff2") format("woff2"),
    url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Italic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Medium.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Regular.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-MediumItalic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Bold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSansCondensed-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../fonts/OpenSansSemiCondensed-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Italic.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Medium.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-MediumItalic.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-Regular.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("../fonts/OpenSansSemiCondensed-SemiBoldItalic.woff2")
      format("woff2"),
    url("../fonts/OpenSansSemiCondensed-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"),
    url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-LightItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.fs-normal {
  font-size: 1rem;
}

/* fonts end */

/* tags */

html {
  scroll-behavior: smooth;
  overflow: hidden;
  scroll-padding-top: 120px;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: var(--trans);
}

a:hover {
  transition: var(--trans);
}

a:active {
  color: var(--bs-primary);
}

a[data-lightbox] {
  display: block;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 0;
}

li[class=""] {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

footer li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

li::marker {
  color: var(--bs-primary);
}

p {
  color: var(--bs-secondary);
  font-weight: 500;
}

svg {
  max-width: 100%;
}

header svg {
  z-index: -1;
}

header,
article,
section,
aside {
  margin-bottom: 6rem;
}

footer a {
  color: var(--bs-dark);
}

footer a:hover {
  color: var(--bs-primary);
}

footer address {
  font-size: 0.9rem;
}

/* tags end */

/* id */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--bs-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

#gotop,
#wp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  padding: 1rem;
  color: var(--bs-white);
  background-color: rgba(var(--bs-primary-rgb), 0.9);
  border: 1px solid var(--bs-white);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: var(--trans);
}

#gotop:hover {
  padding-bottom: 1.5rem;
  transition: var(--trans);
}

#wp {
  bottom: 6rem;
  background-color: rgba(var(--wp-color), 0.9);
}

#wp a {
  color: var(--bs-white);
}

#wp:hover {
  box-shadow: 0 0 30px 5px rgb(var(--wp-color));
  transition: var(--trans);
}

#navbarContainer {
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar,
#categoryNavbar,
#navbarMobile {
  background-color: var(--bs-white);
  border-bottom: 1px solid var(--bs-border-color);
}
/* We haven't given padding-y to navbarMobile */
#navbar {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

#navbar .nav-link,
#navbarMobile .nav-link {
  font-size: 0.9rem;
}

#categoryNavbar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#mainHeader {
  position: relative;
}

#mainHeader img {
  height: 700px;
}

#mainHeader video {
  height: 700px;
}

#subHeader {
  padding: 0.75rem 0;
  background-color: var(--bs-light);
}

#mobileSubNavbarAside {
  margin: 0;
  top: 0;
  background-color: var(--bs-white);
}

#mobileSubNavbarAside,
#filterAside,
#basketAside,
#mobileAccountAside {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 0;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  opacity: 0;
  z-index: 10;
  box-shadow: var(--bs-box-shadow-lg);
}

#filterAside {
  left: 0;
  right: auto;
}

#mobileSubNavbarAside .card,
#filterAside .card,
#basketAside .card,
#mobileAccountAside .card {
  height: 100vh;
  max-height: 100%;
  overflow: auto;
}

#full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#login {
  margin: 6rem 0;
}

#login .card-body {
  padding: 2rem;
}

#youtubeModal iframe {
  max-width: 100%;
  width: 500px;
  height: 500px;
}

#collectionImage {
  min-height: 700px;
}

#faqAside {
  max-height: 100vh;
  overflow-y: auto;
}

#paymentButton {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: var(--bs-box-shadow-lg);
}

/* id end */

/* classes */

/* backgrounds */

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-text {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  /* background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.5) 100%
  ); */
  transition: var(--trans);
}

.background-scalable {
  position: relative;
  overflow: hidden;
}

.background-scalable img {
  transition: var(--trans);
}

.background-scalable:hover img {
  transform: scale(1.1);
  transition: var(--trans);
}

.background-scalable:hover > .background-overlay {
  visibility: hidden;
  opacity: 0;
  transition: var(--trans);
}

/* backgrounds end */

/* heights */

.h-300 {
  height: 300px;
}

.w-85 {
  width: 85% !important;
}

.h-85 {
  height: 85% !important;
}

/* heights end */

/* swipers */

.swiper-pagination {
  z-index: 3;
}

.swiper-slide {
  margin-bottom: 3rem;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: var(--bs-primary);
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 1;
}

.swiper-button-prev {
  left: -2.5rem;
}

.swiper-button-next {
  right: -2.5rem;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgba(var(--bs-black-rgb), 0.5);
  font-size: 3rem;
}

.swiper-vertical.swiper-button-next,
.swiper-vertical.swiper-button-prev {
  left: 50%;
  transform: rotate(90deg);
  transform-origin: left center;
}

.swiper-vertical.swiper-button-prev {
  top: calc(var(--swiper-navigation-size) / 2);
}

.swiper-vertical.swiper-button-next {
  top: auto;
  bottom: calc(var(--swiper-navigation-size) / 2);
}

#headerSwiperPrev,
#headerSwiperNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#headerSwiperNext.swiper-button-next:after,
#headerSwiperPrev.swiper-button-prev:after {
  color: #fff;
  font-size: 3rem;
}

#headerSwiperPrev {
  left: 70px;
}

#headerSwiperNext {
  right: 70px;
}

#productsVerticalSwiper {
  max-height: 575px;
  position: relative;
  overflow: hidden;
}

#productsVerticalSwiperPrev {
  top: -3rem;
}

#productsVerticalSwiperNext {
  bottom: -3rem;
}

#productsVerticalSwiper .swiper-slide {
  width: 100%;
  margin-bottom: 0;
}

#headerSwiper .swiper-slide,
#productDetailSwiper .swiper-slide {
  margin-bottom: 0;
}

#headerSwiperPagination {
  bottom: 10%;
}

/* swipers end */

/* ion range slider */

.irs--flat .irs-bar {
  background-color: var(--bs-dark);
}

.irs--flat .irs-handle > i:first-child {
  background-color: var(--bs-dark);
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: var(--bs-dark);
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: var(--bs-dark);
}

/* ion range slider end */

/* paddings */

.p-frame {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/* paddings end */

/* inputs */

/* Hide the increase and decrease buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input.sort + label {
  padding: 0;
}

input.sort:checked + label svg path {
  fill: var(--bs-dark);
}

input ~ .fa {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.radio-color input[type="radio"] {
  background: initial;
  border: 1px solid var(--bs-dark);
}

.radio-color input[type="radio"]:checked {
  border-color: var(--bs-dark);
  box-shadow: rgba(var(--bs-dark-rgb), 0.5) 0px 0px 0px 0.25rem;
}

.input-amount {
  display: inline-block;
}

.input-amount input {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}

.input-amount button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.search-form {
  width: 50%;
  margin: 0 auto;
}

.search-form input {
  font-size: 1rem;
}

.search-form button {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: var(--trans);
}

.search-form button:hover {
  color: var(--bs-primary);
  transition: var(--trans);
}

/* inputs end */

/* alternate components */

/* icons */

.logo {
  width: 250px;
  height: 48px;
}

.discount {
  color: var(--bs-primary);
  border: 1px dashed var(--bs-primary);
  margin-right: 0.5rem;
  padding: 0 0.25rem;
}

.rounded-icon {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: var(--bs-info);
  color: var(--bs-white);
  width: 84px;
  height: 64px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-icon i {
  font-size: 2rem;
}

/* icons end */

/* columns */

.columns-3 {
  columns: 250px 3;
  column-gap: 1.5rem;
}

/* columns end */

/* lined header */

.lined-header {
  display: block;
  position: relative;
}

.lined-header::after {
  position: absolute;
  content: "";
  bottom: -7px;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: var(--bs-primary);
}

.text-center .lined-header::after {
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

/* lined header end */

/* box of size selector */

.body-size {
  position: absolute;
  width: calc(100% - 2rem);
  margin: 1rem;
  bottom: 0;
  display: none;
}

.background-container:hover .body-size {
  display: block;
}

/* box of size selector */

/* top mega menu */

.mega-menu {
  width: 100%;
  border: 0;
  box-shadow: var(--bs-box-shadow);
}

.mega-menu h6 {
  font-size: 1.125rem;
}

/* top mega menu end */

/* custom buttons */

.btn-like {
  color: var(--bs-danger);
  margin-left: 1rem;
}

.btn-detail {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: var(--trans);
}

.background-container:hover .btn-detail {
  visibility: visible;
  opacity: 1;
  transition: var(--trans);
}

/* custom buttons */

/* product sections */

.product-fold {
  display: none;
}

.products-big {
  width: 50%;
}

.products-fourfold {
  width: 50%;
}

.products-section img {
  aspect-ratio: 1;
}

/* product sections end */

/* displays */

.show-always {
  display: initial !important;
}

/* displays end */

/* dropdowns */

.account-dropdown .dropdown-toggle::after,
.account-dropdown .dropdown-toggle::before {
  content: none;
}

.account-dropdown .dropdown-menu {
  min-width: 20rem;
  padding: 1.5rem 0;
}

/* dropdowns end */

/* alternate components end */

/* classes end */

/* responsive */

/* for large screens */
@media screen and (max-width: 1600px) {
}

/* for large laptop screens */
@media screen and (max-width: 1400px) {
}

/* for laptop screens */
@media screen and (max-width: 1200px) {
}

/* for large tablets */
@media screen and (max-width: 992px) {
  header,
  article,
  section,
  aside {
    margin-bottom: 5rem;
  }

  header svg {
    display: none;
  }

  .img-anim-1 {
    display: none; /* Küçük ekranlarda arka plan resmini gizle */
}

  #login {
    margin: 5rem 0;
  }

  .search-form {
    width: 100%;
    margin: 0;
  }

  .products-big {
    width: 100%;
  }

  .products-fourfold {
    width: 100%;
  }

  #faqAside {
    max-height: none;
  }
}

/* for tablets */
@media screen and (max-width: 768px) {
  header,
  article,
  section,
  aside {
    margin-bottom: 4rem;
  }

  .img-anim-1 {
    display: none; /* Küçük ekranlarda arka plan resmini gizle */
}

  #subHeader {
    margin-bottom: 1rem;
  }

  #login {
    margin: 4rem 0;
  }

  #mainHeader img {
    height: 600px;
  }

  #mainHeader video {
    height: 600px;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  #collectionImage {
    min-height: 500px;
  }

  #productsVerticalSwiper {
    max-height: 500px;
  }

  #gotop,
  #wp {
    width: 48px;
    height: 48px;
    font-size: 1.25rem;
  }

  #wp {
    bottom: 5rem;
  }
}

/* for mobile phones */
@media screen and (max-width: 578px) {
  header,
  article,
  section,
  aside {
    margin-bottom: 3rem;
  }

  .img-anim-1 {
    display: none; /* Küçük ekranlarda arka plan resmini gizle */
}

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }

  #login {
    margin: 3rem 0;
  }

  .p-frame {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .logo {
    width: 150px;
    height: 29px;
  }

  #mainHeader img {
    height: 500px;
  }

  #mainHeader video {
    height: 500px;
  }

  #collectionImage {
    min-height: unset;
    aspect-ratio: 1;
  }

  #productsVerticalSwiper {
    max-height: unset;
  }
}

/* for small phones */
@media screen and (max-width: 400px) {
  header,
  article,
  section,
  aside {
    margin-bottom: 2rem;
  }

  .img-anim-1 {
    display: none; /* Küçük ekranlarda arka plan resmini gizle */
}

  #login {
    margin: 2rem 0;
  }

  .p-frame {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 320px) {
}

/* responsive end */

.index2 .nav-link2 {
  font-size: 0.97em !important;
  font-weight: 600;
}

.index2 .nav-link2 img {
  width: 27px;
}

.index2 .nav-link2 img + span {
  margin-left: 7px;
}

.index2 .navbar-brand {
  margin-right: 32px;
}

.index2 .slider-title {
  font-size: 2.5em;
}

.index2 .slider-list {
  color: #000;
  font-size: 1.67em;
  margin: 20px 0 20px 10px;
}

.index2 .slider-list li::marker {
  color: #000;
}

.index2 .second-btn {
  background-color: #0885b9;
  border-color: #0885b9;
  border-radius: 10px;
}

.index2 .btn-primary {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1em;
}

.index2 .btn-primary:hover {
  background-color: #0885b9;
  border-color: #0885b9;
}

.index2 .second-btn:hover {
  background-color: #f16624;
  border-color: #f16624;
}

.index2 h5 {
  font-size: 0.97em;
  text-transform: uppercase;
  color: #f16624;
  margin-bottom: 10px;
}

.index2 h3 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.index2 p {
  font-size: 1em;
  line-height: 1.6;
}

.index2 .list-img li {
  list-style-type: none;
}

.index2 .list-img li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.index2 .list-img {
  font-size: 1em;
  font-weight: 600;
  margin: 20px 0 30px 0px;
}

.index2 .list-img + p {
  margin-bottom: 20px;
}

.index2 .absolute {
  position: absolute;
  max-width: 320px;
}

.index2 .rotating {
  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.index2 .video-play-brand {
  position: absolute;
  z-index: 5;
  width: 145px;
  height: 145px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.index2 .img-anim-1 img {
  transition: all 0.2s linear;
}

.index2 .img-anim-1:hover img {
  transform: scale(1.05) translate(0, -2%);
}

.index2.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.index2 .popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 540px;
}

.index2 .popup-close {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  font-size: 2em;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.index2 .relative {
  position: relative;
}

.index2 .flex {
  display: flex;
}

.index2 .img-anim-2 img {
  transition: all 0.2s linear;
}

.index2 .img-anim-2 img:hover {
  transform: scale(1.06);
}

.index2.bg-gray {
  background-color: #f7f7f7;
}

.index2.site-pv {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.index2 .form-input {
  width: 100%;
  border: 1px solid #cdcdcd;
  outline: none;
  padding: 12px 10px;
  resize: none;
}

.index2 .form-input::placeholder {
  color: #2e2e2e;
  font-weight: 500;
}

.index2 .form-row {
  width: calc(100% - 50px);
  display: flex;
  column-gap: 25px;
}

.index2 .form-area {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.index2 .form-col {
  width: 100%;
  display: flex;
  align-items: center;
}

.index2 .form-input-chck {
  outline: none;
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

.index2 .form-col a {
  text-decoration: underline;
}

.index2 .form-btn {
  width: 100%;
  background-color: #58aee2;
  color: #fff;
  font-weight: 500;
  border: 0;
  outline: 0;
  padding: 10px 0;
  font-size: 1em;
  transition: all 0.2s linear;
}

.index2 .form-btn:hover {
  background-color: #f16624;
}

.index2 .btn-primary:hover {
  color: #fff;
}

.index2 #marketPlaceSwiper .swiper-slide {
  border: 1px solid #cfcfcf;
}

.img-thumbnail {
    border: none;
}